In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import time, datetime
warnings.filterwarnings('ignore')

In [2]:
ID = pd.Series(np.arange(1,10001),name='거래번호')

# 고객 데이터프레임 customer
#np.random.seed(0)
cusno = pd.Series(np.arange(1,1001),name='cusno')
gender = pd.Series(np.random.randint(0,2,1000),name='gender')
age = pd.Series(np.random.randint(1,81,1000),name='age')
region = pd.Series(np.random.randint(1,11,1000),name='region')
customer = pd.concat((cusno,gender,age,region),axis=1)

# 거래 데이터프레임 data
# 구매일/시간/구매가격/구매물품코드/상품구분/구매량
df = customer.sample(n=10000,replace=True).set_index(ID)
# 시간 관련
start = pd.to_datetime('2020-01-01')
end = pd.to_datetime('2021-12-31')
date = pd.date_range(start,end,freq="D")
date2 = date.to_frame(index=False) # 인덱스 떼고 데이터프레임화
df['date'] = date2.sample(10000,replace=True).set_index(ID)
df['timedata'] = pd.to_datetime(df.date)
# date는 단순 문자 시리즈였지면 이 작업을 해주면 DateTime index로 써 먹을 수 있다!
df['Year'] = df.timedata.dt.year
df['Month'] = df.timedata.dt.month
df['Day'] = df.timedata.dt.day
df['time'] = pd.Series(np.random.randint(1,25,10001))
df.drop('date',axis=1,inplace=True)

# 요일 관련
def days(y,m,d):
    dli=['MON','TUE','WED','THU','FRI','SAT','SUN']
    return dli[datetime.date(y,m,d).weekday()]
df['Day'] = df.apply(lambda x:days(x['Year'],x['Month'],x['Day']),axis=1)

# 거래 관련
df['price'] = pd.Series(np.random.randint(10,500,10001)*100,name='price')
df['product'] = pd.cut(df['price'],
                bins=3,
                labels = [30,20,10])
df['quantity'] = pd.Series(np.random.randint(1,101,10001))
df['총 구매액'] = df.price*df.quantity
display(df)

,cusno,gender,age,region,timedata,Year,Month,Day,time,price,product,quantity,총 구매액
거래번호,,,,,,,,,,,,,
1,289,1,77,1,2020-12-27,2020,12,SUN,21,13200,30,5,66000
2,251,0,11,6,2020-10-05,2020,10,MON,23,10400,30,77,800800
3,474,1,2,10,2020-11-18,2020,11,WED,15,22100,20,76,1679600
4,302,1,60,4,2021-07-30,2021,7,FRI,12,26700,20,1,26700
5,915,1,69,8,2021-08-31,2021,8,TUE,19,8600,30,64,550400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,980,0,21,5,2021-04-24,2021,4,SAT,15,17300,30,75,1297500
9997,768,0,78,4,2020-05-11,2020,5,MON,9,20900,20,91,1901900
9998,24,0,78,7,2021-08-03,2021,8,TUE,3,5600,30,80,448000
9999,288,0,13,3,2020-06-30,2020,6,TUE,13,22200,20,51,1132200
10000,629,1,13,6,2021-05-17,2021,5,MON,5,16700,30,10,167000

In [3]:
df1 = df.copy()
display(df1[df1.Year==2020].head(),df1[df1.Year==2021].head())

# 2020년 총 정리
print(f"2020년 총 판매 액수: {df1.loc[df1.Year==2020,'총 구매액'].sum()}원")
print(f"2020년 총 판매 건수: {len(df1.loc[df1.Year==2020])}건")
# 2021년 총 정리
print(f"2021년 총 판매 액수: {df1.loc[df1.Year==2021,'총 구매액'].sum()}원")
print(f"2020년 총 판매 건수: {len(df1.loc[df1.Year==2021])}건")

,cusno,gender,age,region,timedata,Year,Month,Day,time,price,product,quantity,총 구매액
거래번호,,,,,,,,,,,,,
1,289,1,77,1,2020-12-27,2020,12,SUN,21,13200,30,5,66000
2,251,0,11,6,2020-10-05,2020,10,MON,23,10400,30,77,800800
3,474,1,2,10,2020-11-18,2020,11,WED,15,22100,20,76,1679600
10,77,0,10,5,2020-05-13,2020,5,WED,9,5500,30,7,38500
13,829,1,77,10,2020-09-07,2020,9,MON,7,12200,30,27,329400

,cusno,gender,age,region,timedata,Year,Month,Day,time,price,product,quantity,총 구매액
거래번호,,,,,,,,,,,,,
4,302,1,60,4,2021-07-30,2021,7,FRI,12,26700,20,1,26700
5,915,1,69,8,2021-08-31,2021,8,TUE,19,8600,30,64,550400
6,221,1,25,5,2021-01-09,2021,1,SAT,8,16300,30,1,16300
7,756,0,37,3,2021-10-30,2021,10,SAT,14,26800,20,56,1500800
8,961,0,57,8,2021-12-10,2021,12,FRI,23,10400,30,35,364000

2020년 총 판매 액수: 6382467600원
2020년 총 판매 건수: 4972건
2021년 총 판매 액수: 6403943200원
2020년 총 판매 건수: 5028건