In [1]:
import pandas as pd
import numpy as np

In [2]:
season = pd.read_csv('./data/분기1.csv',encoding = 'cp949')
season

,Unnamed: 0,구매평균,구매평균.1,구매평균.2,구매평균.3,구매평균.4,구매평균.5,구매평균.6,구매평균.7,구매횟수,...,구매횟수.6,구매횟수.7,총구매액,총구매액.1,총구매액.2,총구매액.3,총구매액.4,총구매액.5,총구매액.6,총구매액.7
0,분기,14_1,14_2,14_3,14_4,15_1,15_2,15_3,15_4,14_1,...,15_3,15_4,14_1,14_2,14_3,14_4,15_1,15_2,15_3,15_4
1,고객번호,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,74346.0,94942.0,85782.0,96701.0,54701.0,65837.0,120438.0,56099.0,121.0,...,73.0,78.0,8995824.0,11108203.0,12181088.0,20694107.0,9408643.0,9217176.0,8792000.0,4375707.0
3,2,75534.0,67785.0,120631.0,47573.0,128906.0,86066.0,123730.0,83327.0,184.0,...,126.0,119.0,13898280.0,10506625.0,16767689.0,6279623.0,18691374.0,9983629.0,15589936.0,9915866.0
4,3,2144.0,2703.0,2977.0,2412.0,3247.0,2523.0,3411.0,2293.0,139.0,...,139.0,93.0,297954.0,564936.0,732292.0,349742.0,282483.0,335595.0,474158.0,213238.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,NaN,NaN,13383.0,12373.0,9151.0,9901.0,7498.0,10054.0,NaN,...,121.0,114.0,NaN,NaN,147213.0,940332.0,1143859.0,1356404.0,907224.0,1146146.0
19381,19380,NaN,NaN,NaN,27268.0,7941.0,9183.0,7990.0,6731.0,NaN,...,52.0,268.0,NaN,NaN,NaN,463550.0,492352.0,376522.0,415468.0,1804004.0
19382,19381,NaN,NaN,NaN,NaN,8011.0,7900.0,9066.0,5573.0,NaN,...,232.0,204.0,NaN,NaN,NaN,NaN,1137522.0,1793402.0,2103230.0,1136890.0
19383,19382,NaN,NaN,NaN,NaN,4571.0,4980.0,6173.0,3904.0,NaN,...,231.0,277.0,NaN,NaN,NaN,NaN,795327.0,1115599.0,1426011.0,1081406.0
19384,19383,NaN,NaN,NaN,NaN,NaN,5791.0,9764.0,8102.0,NaN,...,126.0,129.0,NaN,NaN,NaN,NaN,NaN,28953.0,1230238.0,1045220.0

In [3]:
season = season.fillna(0)
season = season.drop([season.index[0],season.index[1]])
season

,Unnamed: 0,구매평균,구매평균.1,구매평균.2,구매평균.3,구매평균.4,구매평균.5,구매평균.6,구매평균.7,구매횟수,...,구매횟수.6,구매횟수.7,총구매액,총구매액.1,총구매액.2,총구매액.3,총구매액.4,총구매액.5,총구매액.6,총구매액.7
2,1,74346.0,94942.0,85782.0,96701.0,54701.0,65837.0,120438.0,56099.0,121.0,...,73.0,78.0,8995824.0,11108203.0,12181088.0,20694107.0,9408643.0,9217176.0,8792000.0,4375707.0
3,2,75534.0,67785.0,120631.0,47573.0,128906.0,86066.0,123730.0,83327.0,184.0,...,126.0,119.0,13898280.0,10506625.0,16767689.0,6279623.0,18691374.0,9983629.0,15589936.0,9915866.0
4,3,2144.0,2703.0,2977.0,2412.0,3247.0,2523.0,3411.0,2293.0,139.0,...,139.0,93.0,297954.0,564936.0,732292.0,349742.0,282483.0,335595.0,474158.0,213238.0
5,4,13858.0,21722.0,32358.0,18584.0,14402.0,14599.0,20302.0,12433.0,93.0,...,118.0,107.0,1288767.0,3844763.0,2750419.0,1616792.0,1757018.0,2058510.0,2395619.0,1330359.0
6,5,16822.0,12355.0,18768.0,17668.0,23103.0,28971.0,0,24288.0,184.0,...,0,89.0,3095164.0,2384470.0,2064490.0,353350.0,2148555.0,869131.0,0,2161652.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,0,0,13383.0,12373.0,9151.0,9901.0,7498.0,10054.0,0,...,121.0,114.0,0,0,147213.0,940332.0,1143859.0,1356404.0,907224.0,1146146.0
19381,19380,0,0,0,27268.0,7941.0,9183.0,7990.0,6731.0,0,...,52.0,268.0,0,0,0,463550.0,492352.0,376522.0,415468.0,1804004.0
19382,19381,0,0,0,0,8011.0,7900.0,9066.0,5573.0,0,...,232.0,204.0,0,0,0,0,1137522.0,1793402.0,2103230.0,1136890.0
19383,19382,0,0,0,0,4571.0,4980.0,6173.0,3904.0,0,...,231.0,277.0,0,0,0,0,795327.0,1115599.0,1426011.0,1081406.0
19384,19383,0,0,0,0,0,5791.0,9764.0,8102.0,0,...,126.0,129.0,0,0,0,0,0,28953.0,1230238.0,1045220.0

In [4]:
season = season.apply(pd.to_numeric)
season.dtypes

Unnamed: 0      int64
구매평균          float64
구매평균.1        float64
구매평균.2        float64
구매평균.3        float64
구매평균.4        float64
구매평균.5        float64
구매평균.6        float64
구매평균.7        float64
구매횟수          float64
구매횟수.1        float64
구매횟수.2        float64
구매횟수.3        float64
구매횟수.4        float64
구매횟수.5        float64
구매횟수.6        float64
구매횟수.7        float64
총구매액          float64
총구매액.1        float64
총구매액.2        float64
총구매액.3        float64
총구매액.4        float64
총구매액.5        float64
총구매액.6        float64
총구매액.7        float64
dtype: object

In [5]:
season['14_1구매경험'] = np.where(season['구매횟수']>0,'유','무')
season['14_2구매경험'] = np.where(season['구매횟수.1']>0,'유','무')
season['14_3구매경험'] = np.where(season['구매횟수.2']>0,'유','무')
season['14_4구매경험'] = np.where(season['구매횟수.3']>0,'유','무')
season['15_1구매경험'] = np.where(season['구매횟수.4']>0,'유','무')
season['15_2구매경험'] = np.where(season['구매횟수.5']>0,'유','무')
season['15_3구매경험'] = np.where(season['구매횟수.6']>0,'유','무')
season['15_4구매경험'] = np.where(season['구매횟수.7']>0,'유','무')
season

,Unnamed: 0,구매평균,구매평균.1,구매평균.2,구매평균.3,구매평균.4,구매평균.5,구매평균.6,구매평균.7,구매횟수,...,총구매액.6,총구매액.7,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험
2,1,74346.0,94942.0,85782.0,96701.0,54701.0,65837.0,120438.0,56099.0,121.0,...,8792000.0,4375707.0,유,유,유,유,유,유,유,유
3,2,75534.0,67785.0,120631.0,47573.0,128906.0,86066.0,123730.0,83327.0,184.0,...,15589936.0,9915866.0,유,유,유,유,유,유,유,유
4,3,2144.0,2703.0,2977.0,2412.0,3247.0,2523.0,3411.0,2293.0,139.0,...,474158.0,213238.0,유,유,유,유,유,유,유,유
5,4,13858.0,21722.0,32358.0,18584.0,14402.0,14599.0,20302.0,12433.0,93.0,...,2395619.0,1330359.0,유,유,유,유,유,유,유,유
6,5,16822.0,12355.0,18768.0,17668.0,23103.0,28971.0,0.0,24288.0,184.0,...,0.0,2161652.0,유,유,유,유,유,유,무,유
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,0.0,0.0,13383.0,12373.0,9151.0,9901.0,7498.0,10054.0,0.0,...,907224.0,1146146.0,무,무,유,유,유,유,유,유
19381,19380,0.0,0.0,0.0,27268.0,7941.0,9183.0,7990.0,6731.0,0.0,...,415468.0,1804004.0,무,무,무,유,유,유,유,유
19382,19381,0.0,0.0,0.0,0.0,8011.0,7900.0,9066.0,5573.0,0.0,...,2103230.0,1136890.0,무,무,무,무,유,유,유,유
19383,19382,0.0,0.0,0.0,0.0,4571.0,4980.0,6173.0,3904.0,0.0,...,1426011.0,1081406.0,무,무,무,무,유,유,유,유
19384,19383,0.0,0.0,0.0,0.0,0.0,5791.0,9764.0,8102.0,0.0,...,1230238.0,1045220.0,무,무,무,무,무,유,유,유

In [6]:
season = season.drop(['구매평균','구매평균.1','구매평균.2','구매평균.3','구매평균.4','구매평균.5','구매평균.6','구매평균.7'],axis=1)
season

,Unnamed: 0,구매횟수,구매횟수.1,구매횟수.2,구매횟수.3,구매횟수.4,구매횟수.5,구매횟수.6,구매횟수.7,총구매액,...,총구매액.6,총구매액.7,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험
2,1,121.0,117.0,142.0,214.0,172.0,140.0,73.0,78.0,8995824.0,...,8792000.0,4375707.0,유,유,유,유,유,유,유,유
3,2,184.0,155.0,139.0,132.0,145.0,116.0,126.0,119.0,13898280.0,...,15589936.0,9915866.0,유,유,유,유,유,유,유,유
4,3,139.0,209.0,246.0,145.0,87.0,133.0,139.0,93.0,297954.0,...,474158.0,213238.0,유,유,유,유,유,유,유,유
5,4,93.0,177.0,85.0,87.0,122.0,141.0,118.0,107.0,1288767.0,...,2395619.0,1330359.0,유,유,유,유,유,유,유,유
6,5,184.0,193.0,110.0,20.0,93.0,30.0,0.0,89.0,3095164.0,...,0.0,2161652.0,유,유,유,유,유,유,무,유
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19380,19379,0.0,0.0,11.0,76.0,125.0,137.0,121.0,114.0,0.0,...,907224.0,1146146.0,무,무,유,유,유,유,유,유
19381,19380,0.0,0.0,0.0,17.0,62.0,41.0,52.0,268.0,0.0,...,415468.0,1804004.0,무,무,무,유,유,유,유,유
19382,19381,0.0,0.0,0.0,0.0,142.0,227.0,232.0,204.0,0.0,...,2103230.0,1136890.0,무,무,무,무,유,유,유,유
19383,19382,0.0,0.0,0.0,0.0,174.0,224.0,231.0,277.0,0.0,...,1426011.0,1081406.0,무,무,무,무,유,유,유,유
19384,19383,0.0,0.0,0.0,0.0,0.0,5.0,126.0,129.0,0.0,...,1230238.0,1045220.0,무,무,무,무,무,유,유,유

In [7]:
# 분기마다 구매한 고객 = 기존고객
# 총 19337명
season[(season['14_1구매경험']=='유') & (season['14_2구매경험']=='유')
       & (season['14_3구매경험']=='유') & (season['14_4구매경험']=='유')
       & (season['15_1구매경험']=='유') & (season['15_2구매경험']=='유')
       & (season['15_3구매경험']=='유') & (season['15_4구매경험']=='유')]

,Unnamed: 0,구매횟수,구매횟수.1,구매횟수.2,구매횟수.3,구매횟수.4,구매횟수.5,구매횟수.6,구매횟수.7,총구매액,...,총구매액.6,총구매액.7,14_1구매경험,14_2구매경험,14_3구매경험,14_4구매경험,15_1구매경험,15_2구매경험,15_3구매경험,15_4구매경험
2,1,121.0,117.0,142.0,214.0,172.0,140.0,73.0,78.0,8995824.0,...,8792000.0,4375707.0,유,유,유,유,유,유,유,유
3,2,184.0,155.0,139.0,132.0,145.0,116.0,126.0,119.0,13898280.0,...,15589936.0,9915866.0,유,유,유,유,유,유,유,유
4,3,139.0,209.0,246.0,145.0,87.0,133.0,139.0,93.0,297954.0,...,474158.0,213238.0,유,유,유,유,유,유,유,유
5,4,93.0,177.0,85.0,87.0,122.0,141.0,118.0,107.0,1288767.0,...,2395619.0,1330359.0,유,유,유,유,유,유,유,유
7,6,192.0,192.0,178.0,187.0,237.0,160.0,228.0,219.0,2131469.0,...,3962173.0,2647175.0,유,유,유,유,유,유,유,유
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19334,19333,111.0,170.0,90.0,107.0,132.0,81.0,43.0,90.0,603348.0,...,283814.0,429998.0,유,유,유,유,유,유,유,유
19335,19334,132.0,497.0,495.0,355.0,235.0,170.0,32.0,48.0,820744.0,...,546127.0,384952.0,유,유,유,유,유,유,유,유
19336,19335,95.0,295.0,274.0,256.0,279.0,235.0,209.0,230.0,922771.0,...,1749762.0,1661776.0,유,유,유,유,유,유,유,유
19337,19336,8.0,78.0,80.0,76.0,63.0,33.0,51.0,51.0,442432.0,...,7120188.0,4088791.0,유,유,유,유,유,유,유,유
19338,19337,7.0,21.0,193.0,169.0,141.0,219.0,304.0,267.0,16257.0,...,1370020.0,915458.0,유,유,유,유,유,유,유,유